* {
    margin: 0;
    padding: 0;
}
body {
    background-color: whitesmoke;
    font-family: sans-serif;
    margin: 0;
}
h1 {
    text-align: center;
    margin: 30px;
    color: rgb(102, 125, 230);
    font-size: 70px;
}
#items {
    text-align: center;
}
#completed {
    margin-bottom: 10px;
    width: 80%;
    background-color: rgb(140, 245, 145);
    color: white;
    position: relative;
}
#completed.hover {
    background-color: rgb(140, 245, 145);
    transition-duration: 0.4s;
    color: whitesmoke;
}
.button {
    border: 0px solid silver;
    background-color: white;
    width: 19%;
    height: 50px;
    border-radius: 7px;
}
.button:hover {
    background-color: rgb(102, 121, 230);
    transition-duration: 0.4s;
    color: whitesmoke;
}
#input {
    color: grey;
    text-align: center;
    border: 0px solid silver;
    height: 50px;
    width: 75%;
    border-radius: 7px;
}
form {
    margin: auto;
    max-width: 100%;
    width: 80%;
}
.input {
    display: block;
}
.tasklist {
    overflow: scroll;
    height: 100px;
}
li {
    background-color: white;
}
.tasks li {
    text-align: center;
    border: 0px solid silver;
    height: 50px;
    padding: 10px;
    margin-top: 8px;
    list-style: none;
    border-radius: 7px;
    cursor: pointer;
    user-select: none;
}
.completed {
    text-decoration: line-through;
    background-color: rgb(140, 245, 145);
    color: whitesmoke;
}
p {
    padding-bottom: 40px;
}
footer {
	position: fixed;
	bottom: 0;
    font-size: smaller;
    background-color: rgb(102, 121, 230);
    width: 100%;
    color: whitesmoke;
    padding-bottom: 5px;
    text-align: center;
}
.animate{
    animation-delay: 100ms;
    animation: jump 400ms;
}
.colorspray{
    animation-delay: 100ms;
    animation: color 700ms;
    animation-iteration-count: 8;
}
@keyframes jump{
    0%   {left: 0px;}
    25%   {left: 20px;}
    75%   {left: -20px;}
    100%   {left: 0px;}
}
@keyframes color{
    0%   {color: rgb(102, 121, 230);;}
    16%   {color: red;}
    50%  {color: yellow;}
    66%  {color: blue;}
    83% {color: green;}
    100%   {color: rgb(102, 121, 230);;}
}
